body {
    font-weight: bold;
    background-color: rgb(246, 226, 199);
}

.receipt-container {
    width: 80%;
    border: 1px solid gray;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.receipt-header{
    border-bottom: dotted;
}

.brand-logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.brand-title {
    text-align: center;
}

.brand-address {
    text-align: right;
}
.receipt-title{
    text-align: center;
    font-size: 30px;
    margin:40px 0;
}
.Reciept-details{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 20px 0;
}
.receipt-body{
    position: relative;
    border-bottom: 1px dashed gray;
}
.Reciept-key{
  color: gray;
  width: 30%;
}
.Reciept-value{
    font-weight: bold;
    border-bottom: 1px dashed gray;
    width: 30%;

}
.Accountant-Signature{
    text-align: right;
    margin-top:50px ;
}
.stamp{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.receipt-footer{
text-align: center;
padding: 20px 0;
font-size: 20px;
background-color: #ffca39;
}


/* Mobile Devices */

@media screen and (min-width: 300px) and (max-width: 768px) {
    .brand-address{
        font-size:12px;
    }
    .receipt-title{
        font-size:20px ;
    }
    .Reciept-details{
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        margin: 20px 0;
    }
    .Accountant-Signature{
        font-size:10px;
        text-align: right;
        margin-top:50px ;
    }
    .stamp{
        width: 120px;
        position: absolute;
        right: 0;
        bottom: 40px;
    }
    .receipt-footer{
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
        background-color: #ffca39;
        }
        .text{
            font-size: 10px;
        }
        
  }

  /* Tablet Devices */

  @media screen and (min-width: 769px) and (max-width: 992px) {
    .brand-address{
        font-size:15px;
    }
    .receipt-title{
        font-size:25px ;
    }
    .Reciept-details{
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        margin: 20px 0;
    }
    .Accountant-Signature{
        font-size:15px;
        text-align: right;
        margin-top:50px ;
    }
    .stamp{
        width: 150px;
        position: absolute;
        right: 0;
        bottom: 40px;
    }
    .receipt-footer{
        text-align: center;
        padding: 15px 0;
        font-size: 15px;
        background-color: #ffca39;
        }
    .text{
        font-size: 15px;
    }
  }

  /* Dekstop device */

  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .brand-address{
        font-size:15px;
    }
    .receipt-title{
        font-size:30px ;
    }
    .Reciept-details{
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        margin: 20px 0;
    }
    .Accountant-Signature{
        
        text-align: right;
        margin-top:50px ;
    }
    .stamp{
        width: 200px;
        position: absolute;
        right: 0;
        bottom: 20px;
    }
    .receipt-footer{
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
        background-color: #ffca39;
        }
  }